* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: aliceblue;
}

.card {
    padding: 0;
    overflow: hidden;
}

.card-header {
    display: none;
}

th {
    text-align: end;
}

td {
    text-align: start;
}

td img {
    padding: 0;
    margin: 0;
    height: 1.15em;
}